
<!DOCTYPE html>
<head>
     <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link type="text/css" rel="stylesheet" href ="/stylesheets/landing.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
     
</head>
<div class="container">
        <h1>Welcome to YELPCAMP !!</h1>
        <a class="btn btn-lg btn-success" href="/campground">View All CampGround</a>
</div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
    
