body{
    background-color: #000;
    /*background-image: url(images/download3.jpg)*/
}
h1{
    color:#fff;
}

.container{
    z-index:1;
    position:relative;/*fixed position will ignore the z-index*/
    text-align: center;
    padding-top:40vh;
    
}


.slideshow {
     position:fixed; /**/
     height:100%;
     width:100%;
     top:0;
     left:0;
     list-style: none;
     z-index:0;
     padding:0;
     margin:0;
}

.slideshow li{
    
    
    width:100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity:0;
    z-index: 0;
    image-rendering: crisp-edges;
    animation:myAnimation 50s linear infinite;
}
.slideshow li:nth-child(1){
    background-image: url(images/image1.jpg);
    image-rendering: crisp-edges;
    /*animation-delay: 10s*/
}
.slideshow li:nth-child(2){
    background-image: url(images/image2.jpg);
    image-rendering: crisp-edges;
    animation-delay: 5s
} 
.slideshow li:nth-child(3){
    background-image: url(images/image9.jpg);
    image-rendering: crisp-edges;
    animation-delay: 10s
} 
.slideshow li:nth-child(4){
    background-image: url(images/image4.jpg);
    animation-delay: 15s
} 
.slideshow li:nth-child(5){
    background-image: url(images/image8.jpg);
    animation-delay: 20s
} 
@keyframes myAnimation{
    0%{
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    5%{
        opacity:1;
        animation-timing-function: ease-in-out;
    }
    10%{
        opacity: 1; 
        
    }
     15%{
        opacity: 0; 
        
    }
}