<%include ../partials/header%>


        <div class ="container">
         <div class="jumbotron">
           <h1>View all Campgrounds</h1>
           <p> View our hand picked campgrounds from all over the country!</p>
           <a href="campground/new" class="btn btn-primary" role="button">Add New Campground</a>
         </div>
        
          <div class="row text-center" style="display:flex; flex-wrap:wrap">
             
            <%for(var i=0;i<camps.length;i++){%>
                <div class="col-md-3 col-sm-6 ">
                    <div class="thumbnail" >
                        <img src="<%=camps[i].url%>">
                        <div class="caption-full">
                            <h4 ><%=camps[i].name%></h4>
                        </div>
                        <a class="btn btn-primary" href="/campground/<%=camps[i]._id%>">More Info</a>
                            
                        </input>
                    </div>    
                </div>    
                <% } %>
                     
          </div>     
          
        </div>
    </div>
</div>    
<% include ../partials/footer%>
